

/*a.navMenu{
	margin: 10px;
	height: 50px;
	padding: 5px;
}*/


h1 {
	position: absolute;
	background-color: #4aaaa5;
	/*width: 300px;*/
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 200%;
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 15px;
	/*margin-left: 150px;*/
	left: 150px;
}

h2 {
	color: #4aaaa5;
	font-size: 200%;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-left: 15px;
	margin-bottom: 15px;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 150%;
	color: #4aaaa5;
	font-weight: bold;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 13%;
	margin-top: 20px;
}

h4 {
	font-weight: bold;
	font-family:'Georgia', Times, Times New Roman, serif; 
	font-size: 220%;
	color: grey;
}

h5 {
	font-family:'Georgia', Times, Times New Roman, serif; 
	font-size: 80%;
	color: grey;
	text-decoration: none;
	position: relative;
	bottom: 100%;
	left: 50%;
/*	transform: translateY(-50%); */
}

header{
	margin-bottom: 20px;
	color: #333;
	background: #fff;
	height: 55px;
	border-bottom: 2px solid;
	border-color: #cccccc;

}



div.mainHeader{
	background-color: #ffffff;
	border: none;
	max-width: 960px;
	margin: 0 auto;
}

h1.headerName{
	background-color: #4aaaa5;
	font-size: 2em;
	color: #eee;
	padding: 15px;
	text-align: center;
	padding-top: 10px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
  	float: left;
}



.inline{
	display: inline;
}

.standardFont{
	color: #777777;
	line-height: 150%;
}

.navBar{
	float: right;
	margin-top: 20px;
	position: absolute;
	right: 180px
}

a.navMenu{
	margin: 10px;
  	padding-top: 10px;
  	top: 10%;
}

a.navMenu:link{
  text-decoration: none;
  font-weight: bold;
  background-color: #fff;
  color: #cccccc;
  }

a.border{
	border-right: 1px solid;
  	border-left: 1px solid;
  	border-color: #cccccc;
  	padding-right: 20px;
  	padding-left: 20px;
}

figure {
	float: left;
}

p {
	color: #777777;
	font-size: 150%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.navtext {
	font-weight: bold;
	font-family:'Georgia', Times, Times New Roman, serif; 
	font-size: 220%;
	color: grey;
}

.links {
	float: right;
	margin-top: 20px;
	/*display: inline;
	margin: 10px;
	padding-top: 10px;
 	top: 10%;
 	width: 33%;*/
/*	float: right;
    padding: 15px;
    color: #777777 ;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 50px;
    font-weight: strong;*/
    /*margin-right:1%;*/
}

/*.Header {
	background-color: white;
	height: 58px;
	top: 0px;
    margin:0px;  
    padding: 0px 2px 2px 3px;    
    border-width: 2px;
    border-bottom-width:2px;
    border-bottom-color:#CCCCCC;
    border-bottom-style: solid;
    width: 100%;
}*/
.name {
	background-color: #4aaaa5;
	font-size: 2em;
	color: #eee;
	padding-top: 18px;
	padding-bottom: 19px;
	text-align: center;
	padding-top: 10px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
    float: left;
}
.Main {
	position: relative;
	clear:both;
	width: 960px;
}
.box-1 {
	clear: both;
	float: left;
	position: absolute;
	left: 150px;
	right: 200px;
	width: 1000px;

	top: 50px;
	background: white;
	padding: 30px;
	border-width:2px;
    border-color:#CCCCCC;
    border-style: solid;
}

.box-2 {
	background-color: white;
	width: 270px;
	height: 200px;
	float: right;
	border-width:2px;
    border-color:#CCCCCC;
    border-style: solid;
    position: relative;
    top: 50px;
    right: -650px;
}

.connect {
	width: 60px;
	margin-left: 12px;
	margin-right: 12px;
}

a.connectLink{
	text-decoration: none;
}

footer {
	clear: both;
	padding-top: 35px;
	height: 1%;
	width: 100%;
	background-color: #666666;
	border-top: 5px solid;
	border-color: #4aaaa5;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: 40px
}

figure {
	margin-right: 20px;
}

a.inline{
	display: inline;
}


#center {
	text-align: center;
}

.message1{
	margin-bottom: 20px;
}

.message2 {
	padding-bottom: 250px;
}

#box-portfolio {
	clear: both;
	position: absolute;
	left: 150px;
	right: 200px;
	width: 1000px;
	height: 1000px;
	top: 50px;
	bottom: 0;
	background: white;
	padding: 30px;
	border-width:2px;
    border-color:#CCCCCC;
    border-style: solid;
    overflow: auto;
    margin-bottom: 300px;
}
.column1 {
    width: 40%;
    padding-right: 10px;
    position: absolute;
  	margin-left: 0;
}
.column2 {
    width: 40%;
    padding: 10px;
	position:absolute;
	right: 0;
}

.column1 img {
    margin-top: 12px;
    margin-left: 20px;
    width: 100%;
}

.column2 img {
    margin-top: 12px;
    width: 100%;
    margin-left 20px;
}
.border {
	border-left: 5px solid;
	border-right: 5px solid;
}





.parent {
	position: relative;

}




.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1000;
}

.parent:hover .middle {
	opacity: 1;
}

.parent:hover .image {
	opacity: 0.3;
}

.text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}
.image:hover {
	opacity: 0.3;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}


/*Here I tried to get the boxes to shrink together but I was having trouble getting the header to shrink appropriately*/
@media only screen and (max-width: 1660px) {
    p{
   		font-size: 100%
    }
    .box-1 {
    	width: 500px;
    }
    .box-2 {
    	width: 200px;
    	right: 300px;
    }
    .connect {
    	width: 30px;
    }
}

/*I had to add several more media queries than required to account for some mistakes I made in my original build*/
@media only screen and (max-width: 1230px) {
    .box-2 {
    	width: 200px;
    	right: 25px;
    }
    .navbar {
    	clear: both;
    }
}

@media only screen and (max-width: 938px) {
   .navBar{
	float: right;
	margin-top: 20px;
	position: absolute;
	top: 50px;
	/*margin: 20px 60px 20px 60px;*/
	background-color: white;
	left: 160px;
}
    .box-2 {
    	position: relative;
    	top: 700px;
    	left: -300px;
    }
}

@media only screen and (max-width: 768px) {

}
}
@media only screen and (max-width: 640px) {

}
